// Fonts
$font-family-serif:           DEFINIR;
$font-family-sans-serif:      apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base:            $font-family-sans-serif !default;
$font-family-title:           $font-family-sans-serif !default;

$font-weight-light:           300 !default;
$font-weight-regular:         400 !default;
$font-weight-medium:          600 !default;
$font-weight-bold:            700 !default;
$font-weight-black:           900 !default;

$font-weight-base:            $font-weight-regular !default;
