// Controls
$control-size-small:         $unit * 2 !default;
$control-size:               $unit * 2 !default;
$control-size-large:         $unit * 2 !default;

$control-input-small:        $unit * 2.5 !default;
$control-input:              $unit * 3 !default;
$control-input-large:        $unit * 4 !default;
