// https://builttoadapt.io/8-point-grid-vertical-rhythm-90d05ad95032
// https://zellwk.com/blog/why-vertical-rhythms/

// $baseline:                   16px;
// $baseline-factor:            .5 !default;

// System
$grid-size:                  .5rem !default;
$grid-unit:                  $grid-size / 2 !default;
$grid-margin:                $grid-size * 2 !default;
$grid-gutter:                $grid-size * 2 !default;
$grid-spacing:               $grid-size * 2 !default;

$unit:                       $grid-size;

// Sizes

$size-none:                  0;
$size-auto:                  auto;
// $size-auto:                  auto;

// Percents

// $size-one-fifth:             20%;
// $size-one-fourth:            25%;
// $size-one-third:             33.333%;
// $size-two-fifth:             40%;
// $size-two-fourth:            50%;
// $size-three-fifth:           60%;
// $size-two-third:             66.666%;
// $size-three-fourth:          75%;

// Viewports
// $full-size-vh:               100vh;
// $three-fourths-vh:           75vh;
// $half-size-vh:               50vh;


$sizes: (
  0:     0,
  1:     0.25,  // 4
  2:     0.5,   // 8
  3:     0.75,  // 12
  4:     1,     // 16
  5:     1.25,  // 20
  6:     1.5,   // 24
  7:     2,     // 32
  8:     2.5,   // 40
  9:     3.5,   // 56
  10:    5,     // 80
  11:    7.5,   // 120
  12:    15,    // 240
);



// Spacing

$spacer: $grid-spacing;

$spacers: (
  0:     0,
  1:     $spacer * 0.25,  // 4
  2:     $spacer * 0.5,   // 8
  3:     $spacer * 0.75,  // 12
  4:     $spacer,         // 16
  5:     $spacer * 1.25,  // 20
  6:     $spacer * 1.5,   // 24
  7:     $spacer * 2,     // 32
  8:     $spacer * 2.5,   // 40
  9:     $spacer * 3.5,   // 56
  10:    $spacer * 5,     // 80
  11:    $spacer * 7.5,   // 120
  12:    $spacer * 15,    // 240
);


// Aspect Ratio

// 1:1 aspect ratio = 1 / 1 = 1 = padding-top: 100%
// 4:3 aspect ratio = 3 / 4 = 0.75 = padding-top: 75%
// 3:2 aspect ratio = 2 / 3 = 0.66666 = padding-top: 66.67%
// 16:9 aspect ratio = 9 / 16 = 0.5625 = padding-top: 56.25%

$aspect-ratios: (
  "21x9": (9 / 21 * 100%),
  "16x9": (9 / 16 * 100%),
  "10x8": (9 / 10 * 100%),
  "7x5":  (5 / 7  * 100%),
  "4x3":  (3 / 4  * 100%),
  "5x3":  (3 / 5  * 100%),
  "3x2":  (2 / 3  * 100%),

  "1x1": 100%,

  "2x3":  ( 3 / 2 * 100%),
  "3x5":  ( 5 / 3 * 100%),
  "3x4":  ( 4 / 3 * 100%),
  "5x7":  ( 7 / 5 * 100%),
  "8x10": (10 / 8 * 100%),
  "9x16": (16 / 9 * 100%),
  "9x21": (21 / 9 * 100%)
) !default;
