// https://www.w3schools.com/cssref/pr_class_cursor.asp
$cursor-default: default;
$cursor-pointer: pointer;

@mixin zoom-cursor {
	cursor: url(../images/gallery-cursor.png) 24 24,pointer;
	cursor: -webkit-image-set(url(../images/gallery-cursor.png) 1x, url(../images/gallery-cursor@2x.png) 2x) 24 24,pointer;
}
