$shape-rect:             0px !default;
$shape-rounded-xs:       .25rem !default;
$shape-rounded-sm:       .5rem !default;
$shape-rounded-md:       1rem !default;
$shape-rounded-lg:       2rem !default;
$shape-rounded-xl:       3rem !default;
$shape-rounded:          10rem !default;
$shape-circle:           50% !default;

$border-size-thin:       1px !default;
$border-size-medium:     2px !default;
$border-size-thick:      4px !default;

$border-style-dotted:    dotted !default;
$border-style-dashed:    dashed !default;
$border-style-solid:     solid !default;
$border-style-double:    double !default;
