@include exports("components/feather-icons") {
@if $include-icons-feather {

  :root {
    --icons-font: "feather";
  }

  @font-face {
    font-family: 'feather';
    src:  url('/assets/fonts/feather.eot?cwuo4j');
    src:  url('/assets/fonts/feather.eot?cwuo4j#iefix') format('embedded-opentype'),
      url('/assets/fonts/feather.ttf?cwuo4j') format('truetype'),
      url('/assets/fonts/feather.woff?cwuo4j') format('woff'),
      url('/assets/fonts/feather.svg?cwuo4j#feather') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  .icon-activity           { @include icon("\e900"); }
  .icon-airplay            { @include icon("\e901"); }
  .icon-alert-circle       { @include icon("\e902"); }
  .icon-alert-octagon      { @include icon("\e903"); }
  .icon-alert-triangle     { @include icon("\e904"); }
  .icon-align-center       { @include icon("\e905"); }
  .icon-align-justify      { @include icon("\e906"); }
  .icon-align-left         { @include icon("\e907"); }
  .icon-align-right        { @include icon("\e908"); }
  .icon-anchor             { @include icon("\e909"); }
  .icon-aperture           { @include icon("\e90a"); }
  .icon-archive            { @include icon("\e90b"); }
  .icon-arrow-down         { @include icon("\e90c"); }
  .icon-arrow-down-circle  { @include icon("\e90d"); }
  .icon-arrow-down-left    { @include icon("\e90e"); }
  .icon-arrow-down-right   { @include icon("\e90f"); }
  .icon-arrow-left         { @include icon("\e910"); }
  .icon-arrow-left-circle  { @include icon("\e911"); }
  .icon-arrow-right        { @include icon("\e912"); }
  .icon-arrow-right-circle { @include icon("\e913"); }
  .icon-arrow-up           { @include icon("\e914"); }
  .icon-arrow-up-circle    { @include icon("\e915"); }
  .icon-arrow-up-left      { @include icon("\e916"); }
  .icon-arrow-up-right     { @include icon("\e917"); }
  .icon-at-sign            { @include icon("\e918"); }
  .icon-award              { @include icon("\e919"); }
  .icon-bar-chart          { @include icon("\e91a"); }
  .icon-bar-chart-2        { @include icon("\e91b"); }
  .icon-battery            { @include icon("\e91c"); }
  .icon-battery-charging   { @include icon("\e91d"); }
  .icon-bell               { @include icon("\e91e"); }
  .icon-bell-off           { @include icon("\e91f"); }
  .icon-bluetooth          { @include icon("\e920"); }
  .icon-bold               { @include icon("\e921"); }
  .icon-book               { @include icon("\e922"); }
  .icon-book-open          { @include icon("\e923"); }
  .icon-bookmark           { @include icon("\e924"); }
  .icon-box                { @include icon("\e925"); }
  .icon-briefcase          { @include icon("\e926"); }
  .icon-calendar           { @include icon("\e927"); }
  .icon-camera             { @include icon("\e928"); }
  .icon-camera-off         { @include icon("\e929"); }
  .icon-cast               { @include icon("\e92a"); }
  .icon-check              { @include icon("\e92b"); }
  .icon-check-circle       { @include icon("\e92c"); }
  .icon-check-square       { @include icon("\e92d"); }
  .icon-chevron-down       { @include icon("\e92e"); }
  .icon-chevron-left       { @include icon("\e92f"); }
  .icon-chevron-right      { @include icon("\e930"); }
  .icon-chevron-up         { @include icon("\e931"); }
  .icon-chevrons-down      { @include icon("\e932"); }
  .icon-chevrons-left      { @include icon("\e933"); }
  .icon-chevrons-right     { @include icon("\e934"); }
  .icon-chevrons-up        { @include icon("\e935"); }
  .icon-chrome             { @include icon("\e936"); }
  .icon-circle             { @include icon("\e937"); }
  .icon-clipboard          { @include icon("\e938"); }
  .icon-clock              { @include icon("\e939"); }
  .icon-cloud              { @include icon("\e93a"); }
  .icon-cloud-drizzle      { @include icon("\e93b"); }
  .icon-cloud-lightning    { @include icon("\e93c"); }
  .icon-cloud-off          { @include icon("\e93d"); }
  .icon-cloud-rain         { @include icon("\e93e"); }
  .icon-cloud-snow         { @include icon("\e93f"); }
  .icon-code               { @include icon("\e940"); }
  .icon-codepen            { @include icon("\e941"); }
  .icon-codesandbox        { @include icon("\e942"); }
  .icon-coffee             { @include icon("\e943"); }
  .icon-columns            { @include icon("\e944"); }
  .icon-command            { @include icon("\e945"); }
  .icon-compass            { @include icon("\e946"); }
  .icon-copy               { @include icon("\e947"); }
  .icon-corner-down-left   { @include icon("\e948"); }
  .icon-corner-down-right  { @include icon("\e949"); }
  .icon-corner-left-down   { @include icon("\e94a"); }
  .icon-corner-left-up     { @include icon("\e94b"); }
  .icon-corner-right-down  { @include icon("\e94c"); }
  .icon-corner-right-up    { @include icon("\e94d"); }
  .icon-corner-up-left     { @include icon("\e94e"); }
  .icon-corner-up-right    { @include icon("\e94f"); }
  .icon-cpu                { @include icon("\e950"); }
  .icon-credit-card        { @include icon("\e951"); }
  .icon-crop               { @include icon("\e952"); }
  .icon-crosshair          { @include icon("\e953"); }
  .icon-database           { @include icon("\e954"); }
  .icon-delete             { @include icon("\e955"); }
  .icon-disc               { @include icon("\e956"); }
  .icon-dollar-sign        { @include icon("\e957"); }
  .icon-download           { @include icon("\e958"); }
  .icon-download-cloud     { @include icon("\e959"); }
  .icon-droplet            { @include icon("\e95a"); }
  .icon-edit               { @include icon("\e95b"); }
  .icon-edit-2             { @include icon("\e95c"); }
  .icon-edit-3             { @include icon("\e95d"); }
  .icon-external-link      { @include icon("\e95e"); }
  .icon-eye                { @include icon("\e95f"); }
  .icon-eye-off            { @include icon("\e960"); }
  .icon-facebook           { @include icon("\e961"); }
  .icon-fast-forward       { @include icon("\e962"); }
  .icon-feather            { @include icon("\e963"); }
  .icon-file               { @include icon("\e964"); }
  .icon-file-minus         { @include icon("\e965"); }
  .icon-file-plus          { @include icon("\e966"); }
  .icon-file-text          { @include icon("\e967"); }
  .icon-film               { @include icon("\e968"); }
  .icon-filter             { @include icon("\e969"); }
  .icon-flag               { @include icon("\e96a"); }
  .icon-folder             { @include icon("\e96b"); }
  .icon-folder-minus       { @include icon("\e96c"); }
  .icon-folder-plus        { @include icon("\e96d"); }
  .icon-frown              { @include icon("\e96e"); }
  .icon-gift               { @include icon("\e96f"); }
  .icon-globe              { @include icon("\e970"); }
  .icon-grid               { @include icon("\e971"); }
  .icon-hard-drive         { @include icon("\e972"); }
  .icon-hash               { @include icon("\e973"); }
  .icon-headphones         { @include icon("\e974"); }
  .icon-heart              { @include icon("\e975"); }
  .icon-help-circle        { @include icon("\e976"); }
  .icon-hexagon            { @include icon("\e977"); }
  .icon-home               { @include icon("\e978"); }
  .icon-image              { @include icon("\e979"); }
  .icon-inbox              { @include icon("\e97a"); }
  .icon-info               { @include icon("\e97b"); }
  .icon-instagram          { @include icon("\e97c"); }
  .icon-italic             { @include icon("\e97d"); }
  .icon-key                { @include icon("\e97e"); }
  .icon-layers             { @include icon("\e97f"); }
  .icon-layout             { @include icon("\e980"); }
  .icon-life-buoy          { @include icon("\e981"); }
  .icon-link               { @include icon("\e982"); }
  .icon-link-2             { @include icon("\e983"); }
  .icon-linkedin           { @include icon("\e984"); }
  .icon-list               { @include icon("\e985"); }
  .icon-loader             { @include icon("\e986"); }
  .icon-lock               { @include icon("\e987"); }
  .icon-log-in             { @include icon("\e988"); }
  .icon-log-out            { @include icon("\e989"); }
  .icon-mail               { @include icon("\e98a"); }
  .icon-map                { @include icon("\e98b"); }
  .icon-map-pin            { @include icon("\e98c"); }
  .icon-maximize           { @include icon("\e98d"); }
  .icon-maximize-2         { @include icon("\e98e"); }
  .icon-meh                { @include icon("\e98f"); }
  .icon-menu               { @include icon("\e990"); }
  .icon-message-circle     { @include icon("\e991"); }
  .icon-message-square     { @include icon("\e992"); }
  .icon-mic                { @include icon("\e993"); }
  .icon-mic-off            { @include icon("\e994"); }
  .icon-minimize           { @include icon("\e995"); }
  .icon-minimize-2         { @include icon("\e996"); }
  .icon-minus              { @include icon("\e997"); }
  .icon-minus-circle       { @include icon("\e998"); }
  .icon-minus-square       { @include icon("\e999"); }
  .icon-monitor            { @include icon("\e99a"); }
  .icon-moon               { @include icon("\e99b"); }
  .icon-more-horizontal    { @include icon("\e99c"); }
  .icon-more-vertical      { @include icon("\e99d"); }
  .icon-mouse-pointer      { @include icon("\e99e"); }
  .icon-move               { @include icon("\e99f"); }
  .icon-music              { @include icon("\e9a0"); }
  .icon-navigation         { @include icon("\e9a1"); }
  .icon-navigation-2       { @include icon("\e9a2"); }
  .icon-octagon            { @include icon("\e9a3"); }
  .icon-package            { @include icon("\e9a4"); }
  .icon-paperclip          { @include icon("\e9a5"); }
  .icon-pause              { @include icon("\e9a6"); }
  .icon-pause-circle       { @include icon("\e9a7"); }
  .icon-pen-tool           { @include icon("\e9a8"); }
  .icon-percent            { @include icon("\e9a9"); }
  .icon-phone              { @include icon("\e9aa"); }
  .icon-phone-call         { @include icon("\e9ab"); }
  .icon-phone-forwarded    { @include icon("\e9ac"); }
  .icon-phone-incoming     { @include icon("\e9ad"); }
  .icon-phone-missed       { @include icon("\e9ae"); }
  .icon-phone-off          { @include icon("\e9af"); }
  .icon-phone-outgoing     { @include icon("\e9b0"); }
  .icon-pie-chart          { @include icon("\e9b1"); }
  .icon-play               { @include icon("\e9b2"); }
  .icon-play-circle        { @include icon("\e9b3"); }
  .icon-plus               { @include icon("\e9b4"); }
  .icon-plus-circle        { @include icon("\e9b5"); }
  .icon-plus-square        { @include icon("\e9b6"); }
  .icon-pocket             { @include icon("\e9b7"); }
  .icon-power              { @include icon("\e9b8"); }
  .icon-printer            { @include icon("\e9b9"); }
  .icon-radio              { @include icon("\e9ba"); }
  .icon-refresh-ccw        { @include icon("\e9bb"); }
  .icon-refresh-cw         { @include icon("\e9bc"); }
  .icon-repeat             { @include icon("\e9bd"); }
  .icon-rewind             { @include icon("\e9be"); }
  .icon-rotate-ccw         { @include icon("\e9bf"); }
  .icon-rotate-cw          { @include icon("\e9c0"); }
  .icon-rss                { @include icon("\e9c1"); }
  .icon-save               { @include icon("\e9c2"); }
  .icon-scissors           { @include icon("\e9c3"); }
  .icon-search             { @include icon("\e9c4"); }
  .icon-send               { @include icon("\e9c5"); }
  .icon-server             { @include icon("\e9c6"); }
  .icon-settings           { @include icon("\e9c7"); }
  .icon-share              { @include icon("\e9c8"); }
  .icon-share-2            { @include icon("\e9c9"); }
  .icon-shield             { @include icon("\e9ca"); }
  .icon-shield-off         { @include icon("\e9cb"); }
  .icon-shopping-bag       { @include icon("\e9cc"); }
  .icon-shopping-cart      { @include icon("\e9cd"); }
  .icon-shuffle            { @include icon("\e9ce"); }
  .icon-sidebar            { @include icon("\e9cf"); }
  .icon-skip-back          { @include icon("\e9d0"); }
  .icon-skip-forward       { @include icon("\e9d1"); }
  .icon-slack              { @include icon("\e9d2"); }
  .icon-slash              { @include icon("\e9d3"); }
  .icon-sliders            { @include icon("\e9d4"); }
  .icon-smartphone         { @include icon("\e9d5"); }
  .icon-smile              { @include icon("\e9d6"); }
  .icon-speaker            { @include icon("\e9d7"); }
  .icon-square             { @include icon("\e9d8"); }
  .icon-star               { @include icon("\e9d9"); }
  .icon-stop-circle        { @include icon("\e9da"); }
  .icon-sun                { @include icon("\e9db"); }
  .icon-sunrise            { @include icon("\e9dc"); }
  .icon-sunset             { @include icon("\e9dd"); }
  .icon-tablet             { @include icon("\e9de"); }
  .icon-tag                { @include icon("\e9df"); }
  .icon-target             { @include icon("\e9e0"); }
  .icon-terminal           { @include icon("\e9e1"); }
  .icon-thermometer        { @include icon("\e9e2"); }
  .icon-thumbs-down        { @include icon("\e9e3"); }
  .icon-thumbs-up          { @include icon("\e9e4"); }
  .icon-toggle-left        { @include icon("\e9e5"); }
  .icon-toggle-right       { @include icon("\e9e6"); }
  .icon-tool               { @include icon("\e9e7"); }
  .icon-trash              { @include icon("\e9e8"); }
  .icon-trash-2            { @include icon("\e9e9"); }
  .icon-trello             { @include icon("\e9ea"); }
  .icon-trending-down      { @include icon("\e9eb"); }
  .icon-trending-up        { @include icon("\e9ec"); }
  .icon-triangle           { @include icon("\e9ed"); }
  .icon-truck              { @include icon("\e9ee"); }
  .icon-tv                 { @include icon("\e9ef"); }
  .icon-twitter            { @include icon("\e9f0"); }
  .icon-type               { @include icon("\e9f1"); }
  .icon-umbrella           { @include icon("\e9f2"); }
  .icon-underline          { @include icon("\e9f3"); }
  .icon-unlock             { @include icon("\e9f4"); }
  .icon-upload             { @include icon("\e9f5"); }
  .icon-upload-cloud       { @include icon("\e9f6"); }
  .icon-user               { @include icon("\e9f7"); }
  .icon-user-check         { @include icon("\e9f8"); }
  .icon-user-minus         { @include icon("\e9f9"); }
  .icon-user-plus          { @include icon("\e9fa"); }
  .icon-user-x             { @include icon("\e9fb"); }
  .icon-users              { @include icon("\e9fc"); }
  .icon-video              { @include icon("\e9fd"); }
  .icon-video-off          { @include icon("\e9fe"); }
  .icon-voicemail          { @include icon("\e9ff"); }
  .icon-volume             { @include icon("\ea00"); }
  .icon-volume-1           { @include icon("\ea01"); }
  .icon-volume-2           { @include icon("\ea02"); }
  .icon-volume-x           { @include icon("\ea03"); }
  .icon-watch              { @include icon("\ea04"); }
  .icon-wifi               { @include icon("\ea05"); }
  .icon-wifi-off           { @include icon("\ea06"); }
  .icon-wind               { @include icon("\ea07"); }
  .icon-x                  { @include icon("\ea08"); }
  .icon-x-circle           { @include icon("\ea09"); }
  .icon-x-octagon          { @include icon("\ea0a"); }
  .icon-x-square           { @include icon("\ea0b"); }
  .icon-youtube            { @include icon("\ea0c"); }
  .icon-zap                { @include icon("\ea0d"); }
  .icon-zap-off            { @include icon("\ea0e"); }
  .icon-zoom-in            { @include icon("\ea0f"); }
  .icon-zoom-out           { @include icon("\ea10"); }

}
}
