@mixin set-displays($breakpoint:"") {
  .#{$breakpoint}normal        { display: inherit !important; }
  .#{$breakpoint}block         { display: block !important; }
  .#{$breakpoint}inline-block  { display: inline-block !important; }
  .#{$breakpoint}inline        { display: inline !important; }
  .#{$breakpoint}flex          { display: flex !important; }
  //.inline-flex               { display: inline-flex; }
  //.table                     { display: table; }
  //.inline-table              { display: inline-table; }
  //.table-caption             { display: table-caption; }
  //.table-cell                { display: table-cell; }
  //.table-column              { display: table-column; }
  //.table-column-group        { display: table-column-group; }
  //.table-footer-group        { display: table-footer-group; }
  //.table-header-group        { display: table-header-group; }
  //.table-row-group           { display: table-row-group; }
  //.table-row                 { display: table-row; }
  //.flow-root                 { display: flow-root; }
  //.grid                      { display: grid; }
  //.inline-grid               { display: inline-grid; }
  //.contents                  { display: contents; }
  //.list-item                 { display: list-item; }
  .#{$breakpoint}hidden        { display: none !important; }
}
@mixin set-visibility($breakpoint:"") {
  .#{$breakpoint}nowrap        { white-space: nowrap !important; }
  .#{$breakpoint}visible       { visibility: visible !important; }
  .#{$breakpoint}invisible     { visibility: hidden !important; }
}

@include exports("utilities/display") {

  @include set-displays;
  @include set-visibility;

  @each $name, $size in $breakpoints {
    @include response(from $name) {
      @include set-displays("#{$name}\\:");
      @include set-visibility("#{$name}\\:");
    }
  }

}
