@include exports("utilities/float") {
@if $include-utilities {

  .left        { float: left !important; clear: left; }
  .right       { float: right !important; clear: right; }
  .center      { float: none; margin-left: auto; margin-right: auto; }
  .clear       { clear: both; }

}
}
