@include exports("utilities/text") {

  .text-left     { text-align: left; }
  .text-center   { text-align: center; }
  .text-right    { text-align: right; }

  .text-upper    { text-transform: uppercase; }
  .text-lower    { text-transform: lowercase; }

  .text-light    { font-weight: $font-weight-light; }
  .text-regular  { font-weight: $font-weight-regular; }
  .text-medium   { font-weight: $font-weight-medium; }
  .text-bold     { font-weight: $font-weight-bold; }
  .text-black    { font-weight: $font-weight-black; }

    // Fonts weights
  .font-light    { font-weight: $font-weight-light; }
  .font-regular  { font-weight: $font-weight-regular; }
  .font-medium   { font-weight: $font-weight-medium; }
  .font-bold     { font-weight: $font-weight-bold; }
  .font-black    { font-weight: $font-weight-black; }

  .text-hide     { @include text-hide; }

}
