@include exports("content/buttons") {
@if $include-content {
@include css-comment("Buttons");

  %button {
    & {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      //font-size: var(--font-size-base);
      //cursor: var(--pointer);
      font-size: $font-size-base;
      cursor: $cursor-pointer;
      border: none;
      padding: .5em 1em;
      width: auto;
    }

    @include hover-focus {
      outline: 0;
      text-decoration: none;
    }
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  .button {
    @extend %button;
  }

}
}

