@include exports("elements/code") {

  code {
    padding: .25rem .5rem;
    font-size: 90%;
    white-space: nowrap;
    background: var(--surface-lowest-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }

  pre {
    margin-top: 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
  }

  pre > code {
    display: block;
    white-space: pre;
    overflow-x: auto;
  }

}
