@include exports("elements/inputs") {

  //input[type="email"],
  //input[type="number"],
  //input[type="search"],
  //input[type="date"],
  //input[type="week"],
  //input[type="month"],
  //input[type="time"],
  //input[type="datetime-local"],
  //input[type="text"],
  //input[type="tel"],
  //input[type="url"],
  //input[type="password"],
  //input[list],
  //textarea,
  //select {
  //  --input-background: var(--input-color);
  //  --input-border: var(--base-input-border);
  //  --input-shape: var(--base-input-shape);
  //}

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="date"],
  input[type="week"],
  input[type="month"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[list],
  textarea,
  select {
    width: 100%;
    //line-height: 1.25;
  }

  /* Removes awkward default styles on some inputs for iOS */
  input, textarea, select {
    font-weight: normal;
    //line-height: 1.25;
  }

  textarea {
    min-height: 65px;
    //line-height: 1.5;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: 0;
  }

  label,
  legend {
    display: block;
  }

  legend {
    color: var(--secondary-color);
  }

  fieldset {
    padding: 0;
    margin: 0;
    border-width: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    width: auto;
  }

  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
  }

  input::placeholder,
  textarea::placeholder {
    color: #aaa;
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    color: var(--secondary-color);
    background-color: #f6f6f6;
  }

  select {
    //line-height: 1;
    //border-radius: 0; /* chrome osx */
    padding-right: 2em !important;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23aaaaaa'><polygon points='12,4 24,4 18,10'/></svg>");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 2.25em;
    appearance: none;
  }

  select:hover,
  select:focus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23222222'><polygon points='12,4 24,4 18,10'/></svg>");
    cursor: pointer;
  }

}
