@mixin icon($icon) {
  //@extend %icon;
  &:before { content: $icon; }
}

@include exports("elements/icons") {

  %icon {
    display: inline-block;
    // use !important to prevent issues with
    // browser extensions that change fonts
    font-family: var(--icons-font) !important;
    //speak: none;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  i, .icon {
    @extend %icon;
    color: currentColor;
  }

  svg.icon {
    & {
      width: 1em;
    }
    g, path {
      fill: currentColor;
    }
  }

  // Icon sizes
  .icon-xs  { font-size:  8px; }
  .icon-sm  { font-size: 16px; }
  .icon-md  { font-size: 20px; }
  .icon-lg  { font-size: 24px; }
  .icon-xl  { font-size: 32px; }
  .icon-xxl { font-size: 64px; }

}
