@include exports("elements/link") {

  a {
    color: inherit;
  }

  a.link {
    font-weight: bold;
    color: var(--link-color);

    @include hover() {
      color: var(--link-hover-color);
    }
  }

  a.link,
  a.hover\:link {
    font-weight: bold;
    border-bottom: 2px solid;
    @include hover() {
      text-decoration: none;
      border-color: currentColor;
    }
  }

  a.link {
    border-color: currentColor;
  }

  a.hover\:link {
    border-color: transparent;
  }

  .link-unistyled {
    color: inherit;
    text-decoration: none;
    @include hover() {
      text-decoration: none;
    }
  }

  .dark-link,
  .dark-links {
    --link-color: var(--inverse-color);
    --link-hover-color: var(--link-color);
  }
  .light-link,
  .light-links {
    --link-color: var(--text-color);
    --link-hover-color: var(--link-color);
  }

  .primary-link,
  .primary-links {
    --link-color: var(--link-color);
    --link-hover-color: var(--link-hover-color);
  }

}
