// https://getbootstrap.com/docs/4.5/examples/grid/#containers
// https://jsfiddle.net/3ha1gw64/

@function columns($unit) {
  @return (100/$unit) * 1%;
}

@include exports("layout/columns") {

  :root {
    --column-gutter: calc(var(--gutter)/2);
  }

  .columns {
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; // when reset is false

    &.inverse-order {
      flex-direction: row-reverse;
    }

    //&.container,
    .container & {
      margin-left: calc(var(--column-gutter)*-1);
      margin-right: calc(var(--column-gutter)*-1);
    }
  }

  .column {
    //flex: 1 0 0%;
    padding-left: var(--column-gutter);
    padding-right: var(--column-gutter);
    box-sizing: border-box; // when reset is false
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
    //width: 100%;
  }

}
