// @mixin overlay($vertical:null,$horizontal:null) {
//     position: absolute;
// }

@include exports("layout/overlay") {
@if $include-layout {

  // Overlay

  .overlay {
    @include overlay;
  }

  .backdrop:after {
    @extend .overlay;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--backdrop-color);
    will-change: background;
    z-index: -1;
  }

}
}
