// https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
// https://coryrylan.com/blog/css-gap-space-with-flexbox
// https://yoksel.github.io/flex-cheatsheet/
// https://www.geeksforgeeks.org/how-to-set-space-between-the-flexbox/
// https://www.smashingmagazine.com/2018/08/flexbox-alignment/
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

@mixin stack($orientation:"horizontal") {
  display: flex;
  flex-direction: row;
  align-items: start;
}

@include exports("layout/stack") {

	.stack {
		&,
		&.horizontal {
			display: flex;
			flex-direction: row;
			align-items: start;
		}
		&.vertical {
			flex-direction: column;
		}
		&.center {
			align-items: center;
		}
	}

	.flexible {
		flex-grow: 1;
		flex-basis: 0;
	}

	.panel {
		display: flex;
		flex: 1;
		position: relative;
		flex-direction: column;
	}

	//.stretch,
	//.content {
	//	overflow: auto;
	//}

	.page {
		@extend .stack;
		flex-direction: column;
	}

	@include response(from tablet) {
		.page {
			flex-direction: row;
		}
	}

}
