@mixin stack($orientation:"horizontal") {
  display: flex;
  flex-direction: row;
  align-items: start;
}

@include exports("layout/stack") {
@if $include-layout {

	.stack {
		&,
		&.vertical {
			display: flex;
			flex-direction: row;
			align-items: start;
		}
		&.horizontal {
			flex-direction: columns;
		}
		&.center {
			align-items: center;
		}
	}

	.flex {
		flex-grow: 1;
		flex-basis: 0;
	}

	.panel {
		display: flex;
		flex: 1;
		position: relative;
		flex-direction: column;
	}

	//.stretch,
	//.content {
	//	overflow: auto;
	//}

	.page {
		@extend .stack;
		flex-direction: column;
	}

	@include response(from tablet) {
		.page {
			flex-direction: row;
		}
	}

}
}
