
@function rgb-val($_color) {
	$_red:   red($_color);
	$_green: green($_color);
	$_blue:  blue($_color);

	@return "#{$_red}, #{$_green}, #{$_blue}";
}

@function rgb-color($_color) {
	$_red:   red($_color);
	$_green: green($_color);
	$_blue:  blue($_color);

	@return rgb($red, $green, $blue);
}

@function to-rgb($_color) {
	@return rgb-val($_color);
}
