// /* Clearing
// -------------------------------------------------- */
// https://stackoverflow.com/questions/17013362/how-to-use-the-clearfix-class
// http://complexspiral.com/publications/containing-floats/
// https://stackoverflow.com/questions/8554043/what-is-a-clearfix
// http://jsfiddle.net/hjXMG/1

// /* Self Clearing Goodness */
// .container:after,
// .columns:after,
// .grid:after,
// .clearfix:after,
// .cf:after {
//   content: "";
//   display: table;
//   clear: both; }

// $toolkit-clearfix-support: older !default;
// $toolkit-clearfix-support: modern !default;

@mixin clearfix {

  // Older browsers
  //
  // &:before,
  // &:after {
  //   content: "";
  //   display: table;
  // }
  // &:after {
  //   clear: both;
  // }
  // & {
  //   zoom: 1; // For IE 6/7 (trigger hasLayout)
  // }

  // IE 8 and up
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}


// Clearfix
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}



