@include exports("components/social-icons") {

  .social-icons {
    & {
      text-align: center;
    }
    a {
      font-size: 24px;
      padding-left: 10px;
    }
    a:hover {
      text-decoration: none;
    }
  }

}
