@include exports("component/menu") {
@if $include-components {
@include css-comment("Menu");

  :root {
    --menu-font-size:    var(--font-size);
    --menu-item-spacing: .5rem;
    --menu-item-divider: var(--divider-width) solid var(--divider-color);
  }

  .menu {
    padding-left: 0;
    line-height: 1;
    //color: var(--secondary-color);
  }

  .menu-item {
    list-style: none;
    //position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: var(--menu-font-size);
  }

  .menu-divider {
    list-style: none;
    margin-bottom: 0;
    vertical-align: middle;
    hr {
      margin: 1rem;
    }
  }

  %menu-control {
    display: block;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
  }

  .menu-title,
  .menu-label,
  .menu-link {
    @extend %menu-control;
    padding: var(--menu-item-spacing);
  }

  //.menu-link {
  //  & {
  //    color: inherit;
  //  }
  //  &:hover {
  //    color: var(--text-color);
  //  }
  //}

}
}
