// EXPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.
//$modules: () !default;
//@mixin exports($name) {
//  @if (index($modules, $name) == false) {
//    $modules: append($modules, $name);
//    @content;
//  }
//}


// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for components that rely on other components.
$modules: () !default;

@mixin export-once($_name) {

  // Import from global scope
  $modules: $modules !global;

  // Check if a module is already on the list
  $_module_index: index($modules, $_name);

  @if (($_module_index == null) or ($_module_index == false)) {
    $modules: append($modules, $_name) !global;
    @content;
  }

}

@mixin exports($_name) {
	@include export-once($_name) {
		@content
	}
}