$oposite-directions: (
  top:    bottom,
  right:  left,
  bottom: top,
  left:   right,

  up:     down,
  down:   up,
  start:  end,
  end:    start,
) !default;

@function oposite($direction) {
  @if map-has-key($oposite-directions, $direction) {
   @return map-get($oposite-directions, $direction);
  }
  @else {
    @error "$direction is not a valid direction, was #{$direction}.";
  }
}
