@include exports("components/buttons") {

  .button {
    background-color: var(--background);
    border-color: var(--border);
    color: var(--color);
    padding: var(--padding);
    border-radius: var(--shape);

    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    @include hover-focus-active {
      background-color: var(--background);
      border-color: var(--border);
      color: var(--color);
    }
  }

  .button {
    --background: var(--transparent);
    --border: var(--border-color);
    --color: var(--secondary-color);
    --shape: var(--button-shape);

    @include hover-focus-active {
      --background: var(--transparent);
      --border: var(--text-border);
      --color: var(--text-color);
    }

    & {
      --padding: var(--control-padding);
    }
    &.small {
      --padding: var(--control-padding-small);
      font-size: 12px;
    }
    &.large {
      --padding: var(--control-padding-large);
      font-size: 18px;
    }

  }

  .button {
    & {

    }

    &.solid {
      --border: var(--transparent);
      &           { @include solid-button(var(--secondary-color),    var(--dark), var(--text-color)); }
      &.primary   { @include solid-button(var(--primary-color), var(--dark), var(--primary-dark-color)); }
      &.success   { @include solid-button(var(--success-color), var(--dark), var(--success-dark-color)); }
      &.warning   { @include solid-button(var(--warning-color), var(--dark), var(--warning-dark-color)); }
      &.danger    { @include solid-button(var(--danger-color),  var(--dark), var(--danger-dark-color)); }
    }

    &.ghost {
      --border: var(--transparent);
      &           { @include ghost-button(var(--divider-color)  ,        var(--text-color)); }
      &.primary   { @include ghost-button(var(--primary-lighter-color),  var(--primary-color)); }
      &.success   { @include ghost-button(var(--success-lightest-color), var(--success-color)); }
      &.warning   { @include ghost-button(var(--warning-lightest-color), var(--warning-color)); }
      &.danger    { @include ghost-button(var(--danger-lightest-color),  var(--danger-color)); }
    }

    &.bordered {
      border-width: var(--border-medium);
      --border: var(--border-color);
      @include hover-focus-active {
        --border: var(--text-color);
      }
      //&           { @include border-button(var(--primary-color),   var(--dark)); }
    }

    &.outline {
      border-width: var(--border-thin);
      --background: var(--transparent);
    }

    &.dashed {
      border-width: var(--border-thin);
      border-style: var(--border-dashed);
    }

    &.text {
      border: var(--transparent);
    }

  }

}
