@include exports("components/inputs") {

  .select { line-height: 1.5; }
  .input  { line-height: 1; }

  .select, .input {
    --border-width:  var(--control-border-width);
    --border-style:  var(--control-border-style);

    --color:  var(--text-color);
    --border:  var(--border-color);
    --background: transparent;
    --shape: var(--control-shape);
    --padding: var(--control-padding);

    appearance: none;
    line-height: normal;
    color: var(--color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border);
    border-radius: var(--shape);
    background-color: var(--background);
    padding: var(--padding);

    transition: $transition-1;

    &:focus {
      --border:  var(--text-color);
      border-color: var(--border);
      color: var(--color);
    }
    //height: 42px;
    //padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    //background-color: #fff;
    //border: 1px solid #D1D1D1;
    //box-sizing: border-box;

    &.small {
      font-size: .875rem;
    }
  }

  //select,
  .select {
    & {
      //line-height: 1;
      //border-radius: 0; /* chrome osx */
      padding-right: 2em !important;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23aaaaaa'><polygon points='12,4 24,4 18,10'/></svg>");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 2.25em;
      //border-radius: var(--base-input-shape);
    }
    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='12' fill='%23222222'><polygon points='12,4 24,4 18,10'/></svg>");
      cursor: pointer;
    }
  }

  .form-check, // remove this
  .checkbox {
    & { display: flex; }
    input { margin-right: .5rem; }
  }

  @media (min-width: 900px) {
    .aligned input,
    .aligned textarea,
    .aligned select {
      display: inline-block;
      width: auto;
    }

    .aligned label {
      text-align: right;
      display: inline-block;
      width: 18em;
      margin: 0 1em 0 0;
    }
  }

  .form-group {
    margin-bottom: 1rem;
  }

  @include response(to phone) {
    .form-inline {
    }
    .form-control {
      margin-bottom: 1rem;
    }
  }
  @include response(from phone) {
    .form-inline {
      display: flex;
    }
    .form-control {
      display: flex;
    }
  }

}
