@mixin collapse {
  overflow: hidden;
  will-change: height;
  transition: all $transition-1;
}

@include exports("interactions/collapse") {
@if $include-interactions {

.expandible {
  @include collapse;
  height: 0px;

  &.opened {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.collapsable {
  @include collapse;
  height: auto;

  &.opened {
    height: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

}
}
