@mixin collapse {
  overflow: hidden;
  will-change: height;
  transition: all $transition-1;
}

@include exports("interactions/collapse") {

@keyframes collapse-open {
   from {
      pointer-events: none;
      height: 0;
      padding: 0;
   }
   to {
      pointer-events: auto;
      display: block;
      height: auto;
      padding: 1rem 0;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes collapse-close {
   from {
      pointer-events: auto;
      height: auto;
      padding: 2rem 0;
   }
   to {
      pointer-events: none;
      height: 0;
      padding: 0;
   }
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}

}
