@mixin custom {
  :root {
    /* Base font */
    --font-family:             #{$font-family-base};
    --font-size:               #{$font-size-base};
    --font-weight:             #{$font-weight-base};
    --line-height:             #{$line-height-base};

    /* Content */
    --line-spacing:            #{$grid-spacing};
    --half-spacing:            #{calc(var(--line-spacing)*.5)};

    /* Grid */
    --margin:                  #{$grid-margin};
    --gutter:                  #{$grid-gutter};

    /* Layout */
    --main-top-spacing:        #{5rem};
    --main-bottom-spacing:     #{5rem};

    --section-spacing:         #{5rem};
    --section-title:           #{5rem};

    --container-max-width:     #{$container-width};
    --container-fluid-width:   #{$container-fluid-width};

    /* Components */
    --navbar-background:       #{var(--surface-color)};
    --navbar-spacing:          #{1rem 0};
    --main-section-height:     #{90vh};
    --brand-max-height:        #{40px};

    /* Elements */
    --divider-width:           #{$base-divider-width};
    --border-width:            #{$base-border-width};

    /* Controls */
    --base-border:             #{var(--border-width) solid};
    --button-radius:           #{0};

    --base-input-border:       #{var(--border-width) solid};
    --base-input-shape:        #{var(--shape-rounded)};

    /* Custom colors */
    --notification-color:      #{$danger-color};
    --discount-color:          #{var(--notification-color)};
    --unavailable-color:       #{$danger-color};
    --available-color:         #{#6daba3};

    // Spacing
    --spacing-header:          #{var(--line-spacing)};
    --spacing-headings:        #{var(--line-spacing)};
    --spacing-paragraph:       #{var(--line-spacing)};
    --spacing-content:         #{var(--line-spacing)};
    --spacing-lists:           #{var(--line-spacing)};
    --spacing-lists-nested:    #{var(--line-spacing)};
    --spacing-lists-item:      #{var(--line-spacing)};
    --spacing-input:           #{var(--line-spacing)};
    --spacing-caption:         #{calc(var(--line-spacing) * .5)};
    --spacing-button:          #{var(--line-spacing)};

    --facebook-color:          #{brandcolor(facebook)};
    --twitter-color:           #{brandcolor(twitter)};
    --linkedin-color:          #{brandcolor(linkedin)};
    --youtube-color:           #{brandcolor(youtube)};
    --instagram-color:         #{brandcolor(instagram)};

  }
  @include response(from phone) {
    :root {
      --margin:                #{$grid-margin-large};
    }
  }

}

//  --color-contrast-lower:   hsl(0, 0%, 95%);
//  --color-contrast-low:     hsl(240, 1%, 83%);
//  --color-contrast-medium:  hsl(240, 1%, 48%);
//  --color-contrast-high:    hsl(240, 4%, 20%);
//  --color-contrast-higher:  hsl(240, 8%, 12%);

@mixin theme-mode($name) {
  $mode: $name;

  [data-mode="#{$name}"], .mode-#{$name}, .#{$mode} {
    /* Base colors */
    --background-color:        #{theme-color(background, $mode)};

    --surface-color:           #{theme-color(surface, $mode)};
    --surface-lower-color:     #{theme-color(surface-lower, $mode)};
    --surface-low-color:       #{theme-color(surface-low, $mode)};
    --surface-medium-color:    #{theme-color(surface-medium, $mode)};
    --surface-high-color:      #{theme-color(surface-high, $mode)};
    --surface-higher-color:    #{theme-color(surface-higher, $mode)};

    --primary-color:           #{theme-color(accent, $mode)};
    --text-color:              #{theme-color(high-emphasis, $mode)};
    --inverse-color:           #{theme-color(inverse, $mode)};
    --secondary-color:         #{theme-color(medium-emphasis, $mode)};
    --disabled-color:          #{theme-color(disabled, $mode)};
    --divider-color:           #{theme-color(divider, $mode)};
    --input-color:             #{theme-color(input, $mode)};
    --border-color:            #{theme-color(border, $mode)};
    --link-color:              #{theme-color(accent, $mode)};
    --link-hover-color:        #{theme-color(primary-dark, $mode)};
    --link-text-color:         #{theme-color(medium-emphasis, $mode)};

    --info-color:              #{theme-color(info, $mode)};
    --success-color:           #{theme-color(success, $mode)};
    --warning-color:           #{theme-color(warning, $mode)};
    --danger-color:            #{theme-color(danger, $mode)};

    --translucent-color:       #{theme-color(translucent, $mode)};

    color: var(--text-color);
  }
}

@include exports("base/customize") {
@if $include-customize {
@include css-comment("Custom properties");

  @include theme-mode(light);
  @include theme-mode(dark);
  @include custom;

}
}

// @each $color, $value in $colors {
//  --#{$color}: #{$value};
// }

// --container-width: null;
// --container-spacing: var(--grid-margin);
// --navbar-background: <%= data.theme.styles.navbar_background %>;
// --navbar-behavior: var(--hide-on-scroll);
// --main-gallery-shape:  var(--rect);
// --main-gallery-size:   95vh;
// --main-gallery-spcing: var(--none);
// --main-gallery-margin: var(--grid-margin);
// --main-gallery-shape:  var(--rect);
// --main-gallery-size:   90vh;
// --discount-color:      #f4717d;
