@include exports("base/document") {

    html {
      scroll-behavior: smooth;
    }

    // For off canvas layout works
    html, body {
      height: 100%;
    }

    body {
      overflow-x: hidden;
    }

    // 2. As a best practice, apply a default `background-color`.

    body {
      //font-family: var(--font-family);
      //font-size: var(--font-size);
      //font-weight: var(--font-weight);
      //line-height: var(--line-height);
      //color: var(--high-emphasis-color);
      //background-color: var(--background-color); // 2
      font-family: $font-family-base;
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      line-height: $line-height-base;
      color: var(--text-color);
      //@include font-size($font-size-base);
    }

}

@include exports("base/breakpoints") {

  body {
    content: "screen: 0";
    @each $name, $size in $breakpoints {
      @include response(from $name) {
        content: "screen-#{$name}: #{$size}";
      }
    }
  }

}
