@include exports("base/page") {
@if $include-scaffold {

    // 2. As a best practice, apply a default `background-color`.

    body {
      //font-family: var(--font-family);
      //font-size: var(--font-size);
      //font-weight: var(--font-weight);
      //line-height: var(--line-height);
      //color: var(--high-emphasis-color);
      //background-color: var(--background-color); // 2
      font-family: $font-family-base;
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      line-height: $line-height-base;
      color: var(--text-color);
      //@include font-size($font-size-base);
    }

}
}
