@include exports("base/theme") {

  //::selection               { background-color: var(--selection-color); }
  //mark, .highlight          { background-color: var(--highlight-color); }

  // Text
  body                      { color: var(--text-color); }
  hr, .divider              { color: var(--divider-color); }
  a                         { color: var(--link-color); }
  a:hover                   { color: var(--link-hover-color); }

  //Backgronds
  body,
  .bg, .background          { background-color: var(--background-color); }
  .sf, .surface             { background-color: var(--surface-color); }

  // Text colors
  .text-default             { color: var(--text-color); }
  .text-secondary           { color: var(--secondary-color); }
  .text-hint,
  .text-disabled            { color: var(--disabled-color); }
  .text-inverse             { color: var(--inverse-color); }

  .color-default            { color: var(--text-color); }
  .color-secondary          { color: var(--secondary-color); }
  .color-hint,
  .color-disabled           { color: var(--disabled-color); }
  .color-inverse            { color: var(--inverse-color); }

  // //Icons
  // .icon,
  // .icon.inactive            { color: var(--icon-inactive-color); }
  // .icon:hover,
  // .icon-active              { color: var(--icon-active-color); }
  // .icon[disabled],
  // .icon-disabled            { color: var(--icon-disabled-color); }

  // //Elements
  // hr, .divider              { color: var(--divider-color); }
  // .border                   { border-color: var(--border-color); }
  // input, button, .button    { background: var(--input-color); }

}
