@include exports("base/themes") {
@if $include-themes {
@include css-comment("Theme");

  // Text
  // body,
  // .text-high-emphasis       { color: var(--high-emphasis-color); }
  // .text-secondary,
  // .text-medium-emphasis     { color: var(--medium-emphasis-color) !important; }
  // .text-hint,
  // .text-disabled            { color: var(--disabled-color); }

  // //Icons
  // .icon,
  // .icon-inactive            { color: var(--icon-inactive-color); }
  // .icon:hover,
  // .icon-active              { color: var(--icon-active-color); }
  // .icon[disabled],
  // .icon-disabled            { color: var(--icon-disabled-color); }

  // //Elements
  // hr, .divider              { color: var(--divider-color); }
  // .border                   { border-color: var(--border-color); }
  // input, button, .button    { background: var(--input-color); }

  //Backgronds
  body,
  .background               { background-color: var(--background-color); }
  // .surface                  { background: var(--surface-color); }
  // .background               { background: var(--background-color); }
  // ::selection               { background: var(--selection-color); }
  // mark, .highlight          { background: var(--highlight-color); }

  // Text
  body                      { color: var(--text-color); }
  .text-inverse             { color: var(--inverse-color); }
  .text-secondary           { color: var(--secondary-color); }
  .text-hint,
  .text-disabled            { color: var(--disabled-color); }
  hr, .divider              { color: var(--divider-color); }
  a                         { color: var(--link-color); }
  a:hover                   { color: var(--link-hover-color); }

  // Service
  .text-primary             { color: var(--primary-color); }
  .text-info                { color: var(--info-color); }
  .text-success             { color: var(--success-color); }
  .text-warning             { color: var(--warning-color); }
  .text-danger              { color: var(--danger-color); }

  // Service
  // .light {
  //   .text-primary             { color: $accent-color; }
  //   .text-info                { color: $info-color; }
  //   .text-success             { color: $success-color; }
  //   .text-warning             { color: $warning-color; }
  //   .text-danger              { color: $danger-color; }
  // }
  // .dark {
  //   .text-primary             { color: $dark-accent-color; }
  //   .text-info                { color: $dark-info-color; }
  //   .text-success             { color: $dark-success-color; }
  //   .text-warning             { color: $dark-warning-color; }
  //   .text-danger              { color: $dark-danger-color; }
  // }

}
}
