@mixin backgrounds() {

  .bg-lighter { background-color: var(--surface-lower-color); }
  .bg-light   { background-color: var(--surface-low-color); }
  .bg-medium  { background-color: var(--surface-medium-color); }
  .bg-dark    { background-color: var(--surface-high-color); }
  .bg-darker  { background-color: var(--surface-higher-color); }

}

@include backgrounds();
