// https://www.google.com/search?q=button+styles&safe=off&sxsrf=ALeKk00HmZ8gllt9rAr7d6ecL4QDKBtgaw:1595991903184&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjhhtCTvfHqAhUtGbkGHSGwDq0Q_AUoAXoECAwQAw&biw=1920&bih=1098

@mixin solid-button($background,$color,$background-hover) {
  --background: #{$background};
  --color: #{$color};
  @include hover-focus-active {
    --background: #{$background-hover};
    //--color: var(--light);
    //--button-border-color: #{$color};
    //--button-fill-color: #{$color};
  }
}
@mixin ghost-button($background,$background-hover) {
  --background: #{$background};
  --color: #{$background-hover};
  @include hover-focus-active {
    --background: #{$background-hover};
    --border: var(--transparent);
    --color: var(--dark);
    //--button-border-color: #{$color};
    //--button-fill-color: #{$color};
  }
}
@mixin border-button($background,$color) {
  --border: #{$background};
  @include hover-focus-active {
    --color: #{$color};
  }
}

@mixin outline-button($background,$color) {
  @include hover-focus-active {
  }
}
@mixin text-button($background,$color) {
  @include hover-focus-active {
  }
}
@mixin link-button($background,$color) {
  @include hover-focus-active {
  }
}

@mixin elevate-button($shadow:$shadow-elevation-3) {
  @include hover-focus-active {
    box-shadow: $shadow;
    transform: scale(1.1);
  }
}
